a.back{
    width: 100%;
    text-align: center;
    padding-top: 1%;
}

a.gallery-section{
    width: 10%;
    padding: 2%;
    text-align: center;
    padding-top: 0%;
}

a.gallery-image{
    width: auto;
    height: auto;
}

div.gallery-image{
    display: inline-block;
    width: 24%;
    margin-bottom: 10px;
    border-right: solid;
    border-left: solid;
    border-color: #70798C;
    border-width: 2px;
}

img.gallery-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    max-height: 175px;
}
/* PANORAMA STYLE */
div.gallery-pano{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    border-right: solid;
    border-left: solid;
    border-color: #70798C;
    border-width: 2px;
}

img.gallery-pano{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    max-height: 300px;
}

/*INDIVIDUAL STYLE*/
a.gallery-back{
    font: 300 40px/40px "K2D", Arial, sans-serif;
    height: 45px;
}

h3.gallery-back{
    height: auto;
}

img.individual-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
}

div.individual-image{
    display: inline-block;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    border-right: solid;
    border-left: solid;
    border-color: #70798C;
    border-width: 2px;
}

