/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*
https://coolors.co/f2f2f2-70798c-000000-4fc7e5-e980fc

#F2F2F2 ANTI-FLASH WHITE
#70798C SLATE GRAY
#000000 TRUE BLACK
#4FC7E5 SEA SERPENT
#E980FC VIOLET
*/
span, div, section, header, footer{
	background-color: #F2F2F2;
}
header {
	height: 100px;
	background-color: #F2F2F2;
} 
footer{
	height: 100px;
	background-color: #F2F2F2;
}
nav{
	display: inline-block;
	width: 45%;
	height: 67px;
	vertical-align: 50%;
}
img{
	display: inline-block;
	pointer-events: none;
}
h1 {
	font: 300 45px/100px "Raleway", Arial, sans-serif;
	color: #70798C;
	text-align: center;
	font-weight: normal;	
}
h2 {
	font: 300 20px/20px "K2D", Arial, sans-serif;
	padding: 50px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-top: 40px;
	height:72px;
	display: inline-block;
	width: 50%;
	font-size: 72px;
  	background: -webkit-linear-gradient(1turn, #4FC7E5, #E980FC);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
h3{
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 0px;
	width: 100%;
	text-align: center;	
	font: 300 35px/30px "Raleway", Arial, sans-serif;
	color: #70798C;
}
h4{
	padding-top: 35px;
	text-align: center;	
	font: 400 20px/30px "Raleway", Arial, sans-serif;
	color: #70798C;
}
h5{
	font: 400 16px/22px "Raleway", Arial, sans-serif;
	color: #70798C;
	text-align: center;
}
h6{
	font: 400 16px/22px "K2D", Arial, sans-serif;
}
a{
	text-decoration: none;
	font: 300 15px/20px "K2D", Arial, sans-serif;
	color: #5ebce5;
	display: inline-block;
	width: 32%;
	height: 100%;
	vertical-align: 50%;
}
aside{
	font: 200 16px/20px "Raleway", Arial, sans-serif;
	color: #70798C;
	text-align: center;  
    text-justify:auto;
}
article, p{
	font: 200 16px/30px "Raleway", Arial, sans-serif;
	padding-left: 15%;
	width: 70%;
	text-align: center;  
	text-justify:auto;
	color: #70798C;
	margin-top: 20px;
}
body {
	line-height: 1;
	width: 100%;
	height: auto;
	background: #F2F2F2;
	min-width: 1100px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a.currentPage{
	color: #1B263B;
}

section{
    width: 95%;
	padding: 2.5%;
	padding-top: 0%;
	padding-bottom: 20px;

    height: auto;
}

#h2{
	font: 300 20px/20px "K2D", Arial, sans-serif;
	display: inline;
	height: 100%;
	width: 100%;
	color: #1B263B;
	font-size: 72px;
	vertical-align: 0%;
  	background: -webkit-linear-gradient(1turn, #4FC7E5, #E980FC);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}

#h4{
	font: 400 20px/30px "Raleway", Arial, sans-serif;
	color: #70798C;
	height: 30px;
	vertical-align: 0%;
}

#aside{
	font: 200 16px/16px "Raleway", Arial, sans-serif;
	color: #70798C;
	width: auto;
	height: auto;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#img{
	width: 100%;
}