/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
/*https://coolors.co/f2c318-70798c-000000-4fc7e5-e980fc*/
/*
#000000
#70798C
#4FC7E5
#E980FC
#F2C318
*/
span, div, section, header, footer{
	background-color: #FFFFFF;
}
header {
	height: 100px;
	background-color: #FFFFFF;
} 
footer{
	height: 80px;
	background-color: #FFFFFF;
}
nav{
	display: inline-block;
	width: 45%;
}
img{
	display: inline-block;
	pointer-events: none;
	width: 30%;
	padding-left: 1.5%;
	padding-right: 1.5%;
	padding-bottom: 2.5%;
}
h1 {
	font: 300 45px/100px "Raleway", Arial, sans-serif;
	color: #A2A3BB;
	text-align: center;
	font-weight: normal;	
}
h2 {
	font: 300 20px/20px "K2D", Arial, sans-serif;
	padding: 50px;
	padding-bottom: 20px;
	padding-right: 0px;
	height:52px;
	color: #1B263B;
	display: inline-block;
	width: 50%;
	font-size: 72px;
  	background: -webkit-linear-gradient(1turn, #4FC7E5, #E980FC);
 	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
h3{
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 0px;
	width: 100%;
	text-align: center;	
	font: 300 30px/30px "Raleway", Arial, sans-serif;
	color: #A2A3BB;
}
h4{
	padding-top: 35px;
	padding-bottom: 20px;
	text-align: center;	
	font: 300 20px/30px "Raleway", Arial, sans-serif;
	color: #A2A3BB;
}
h5, h6{
  	font: 300 16px/22px "Raleway", Arial, sans-serif;
}
a{
	text-decoration: none;
	font: 300 15px/20px "K2D", Arial, sans-serif;
	color: #5ebce5;
	display: inline-block;
	width: 32%;
	vertical-align: 50%;
}
aside{
  	font: 400 16px/25px "Montserrat", Arial, sans-serif;
	padding-left: 8%;
	padding-right: 8%;
	text-align:justify;  
    text-justify:auto;
}
article, p{
	font: 400 18px/30px "Roboto", Arial, sans-serif;
	padding-left: 15%;
	width: 70%;
	text-align:justify;  
    text-justify:auto;
}
body {
	line-height: 1;
	width: 100%;
	height: auto;
	background: #FFFFFF;
	min-width: 1100px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a.currentPage{
	color: #1B263B;
}
