/*https://coolors.co/f2f2f2-70798c-000000-4fc7e5-e980fc*/
/*
#F2F2F2 ANTI-FLASH WHITE
#70798C SLATE GRAY
#000000 TRUE BLACK
#4FC7E5 SEA SERPENT
#E980FC VIOLET
*/

div.nav-element{
    display: inline-block;
    width: 32%;
}

div.subnav{
    float: right;
    position: absolute;
    left: 60%;
    display: none;
    width: 33%;
    height: auto;
    background-color: #F2F2F2;
    text-align: left;
}

#nav:hover .subnav{
    display: block;
}

#subnav-Coding{
    left: 68.95%;
    width: 10%;
}

#subnav-Photography{
    left: 83.6%;
    width: 10%;
}

a.subnav-element{
    margin-left: 5%;
    width: 90%;
    height: 15px;
    background-color: #F2F2F2;
    border-top: solid;
    border-color: #70798C;
    border-width: 1px;
}